@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
}
.dark-background {
  background-color: #222427;
}
.text-blue {
  color: #0b92f1;
}
